{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "phpVersion": "7.3",
        "braceStyle": "psr-2",
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}
